body {
    margin: 0 auto;
    font-family: Arial, serif;
    background-color: #cccccc;
}
.pagecontent {
    background-color: transparent;
    width: 1160px;
    margin-left: 160px;
    display: block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    min-height: 600px;
}
.subcontainer {
    width: 900px;
    margin: 0 auto;
    min-height: 500px;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.formstyle {
    padding: 16px;
    background-color: #f9f9f9;
    width: 75%;
    margin-left: 10px;
    border-radius: 5px;
}
.headerstyle{
    width: 860px;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
.buttonstyle::after {
    content: "";
    clear: both;
    display: table;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}
.cancelbtn {
    padding: 20px 20px;
    background-color: #f44336;
}
.cancelbtn a {
    text-decoration: none;
}
.cancelbtn a:hover{
    text-decoration: underline;
}
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
    font-size: 24px;
}
input[type=text], input[type=email] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
.thintextbox{
    width: 200px;
    padding: 20px 20px;
    margin: 8px;
}
.centredheading{
    text-align: center;
}
.floatimage{
    margin-left: 25%;
}

.navbar {
    background: url(sand.jpg);
    border: 1px solid #000000;
    width: 860px;
    margin-left: 310px;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px black;
}
.navbar a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: all 2s;
}
.callbutton {
    width: 400px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 38px;
    text-align:center;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    margin: 0 auto;
    margin-top: 10px;
}
.callbutton a{
    text-decoration: none;
    background: white;
    box-shadow: 2px 3px 1px #000000;
}
.callbutton a:hover{
    background: #d8dc00;
    transition: all 0.5s;
}
.logo{
    margin-top: -80px;
    margin-left: -180px;
    float: left;
    border-color: transparent;
}
.liststyle{
    list-style: none;
    margin-left: -38px;
}
.liststyle li{
    margin-top: 20px;
}
.sidebar {
    background: #5983ae;
    width: 250px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    color: whitesmoke;
    margin-left: -290px;
    margin-top: 130px;
    float: left;
}
.sidebar_right {
    background: #5983ae;
    width: 250px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    float: right;
    margin-right: -300px;
    margin-top: -10px;
    border: 2px solid #eeeeee;

}
.announcements {
    list-style-type: none;
    text-align: left;
    margin-left: -40px;
}
.spacedlist {
    margin-top: 20px;
}
.spacedlist a:hover {
    background-color: black;
    transition: all 0.5s;
}
.photocontent_homepage{
    width: 640px;
    height: 483px;
    margin-top: 20px;
    margin-left: 130px;
}
.ladder {
    font-family: arial, sans-serif;
    margin-left: 10.5%;
}
.ladder td, th {
    border: 1px solid #5983ae;
    text-align: left;
    padding: 8px;

}
.ladder tr:nth-child(even) {
    background-color: #7bb4ea;
    color: #ffffff;
}
.ladder tr:nth-child(odd){
    background-color: #fbff80

}
.subcontheading{
    margin-left: 8%;
    font-family: "Tahoma";
    font-weight: bold;

}
.no_line {
    text-decoration: none;
    color: whitesmoke;
}
.contact {
    list-style-type: none;
    text-align: left;
    margin-left: -30px;
}
.info_bar_index {
    width: 600px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 130px;
    background-color: #0c5ad7;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-family: "Segoe UI";
    font-stretch: expanded;
    font-style: italic;
}
.registerbar {
    width: 300px;
    float: right;
    margin-top: -66px;
    margin-right: -165px;
}
.registerbutton {
    width: 250px;
    font-weight: bold;
    font-size: 36px;
    text-align:center;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    margin: 0 auto;
}
.registerbutton a{
    text-decoration: none;
    color: black;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.registerbutton a:hover{
    background: #00c959;
    transition: all 0.25s;
}
.aboutinfo_overflow{
    width: 440px;
    background-color: #dddddd;
    margin-left: 450px;
    margin-right: 10px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    height: 460px;
    overflow: auto;
    float:right;
    margin-top: -271px;
    font-size: 14px;
    line-height: 20px;

}
.aboutinfo_left{
    float:left;
    background-color: #0c5ad7;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: -220px;
    margin-left: 10px;
    width: 348px;
    font-size: 18px;
    font-family: "Segoe UI";
    font-weight: bold;
    font-style: italic;
    border: 2px solid #cccccc;
    color: white;

}
.footer_about {
    width: 900px;
    background-color: #eeeeee;
    height: 20px;
    text-align: center;
    margin-left: 130px;
    margin-top: -10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS";

}
.paddedheading{
    padding-left: 10px;
    font-family: "Gill Sans MT";
    font-weight: bold;
}
.inset_box{
    background-color: #dddddd;
    width: 290px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Segoe UI";
}
.photocontent_about{
    width: 387px;
    height: 271px;
    padding-left: 10px;
}
.photoborder{
    border-radius: 10px;
    border: 2px solid #cccccc;
}
.inset_box a:hover{
    background-color: #eeeeee;
}
.photocontent_guidelines{
    float: right;
    width: 568px;
    height: 426px;
    margin-top: -450px;
    margin-right: 10px;

}